body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    color: #fff;
}

.background {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    width: calc(33.3333% - 10px); /* Adjust the width as needed */
    height: auto;
    margin: 5px;
    border-radius: 5px;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.8); /* Semi-transparent background */
    padding: 20px;
    background: radial-gradient(circle, #e6e590 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px; /* Rounded corners for the login container */
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Round the input fields more */
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background for inputs */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}

input:hover {
    background-color: #bfe5fc; /* Change background color to light blue on hover */
}

button {
    margin: 10px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
